body {
    background: #e9e9e9;
}

div.row {
    background: white;
}

header {
    border-bottom: 1.875rem solid #e9e9e9;
    margin-bottom: 1.875rem;
}

.menu-text.version {
    font-weight: normal;
}

.vertical.menu .menu-text {
    text-transform: uppercase;
    font-weight: normal;
}

.menu .active-page-title {
    color: black;
    /*font-weight: bold;*/
}

.menu .active-page-toc {
    background: #e9e9e9;
}

#main h1 {
    text-align: center;
}
